a, a:hover {
    text-decoration: none;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: rgb(17, 157, 157);
}

.top-bar span {
    color: #FFF;
}

.top-bar ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.top-bar a {
    color: #FFF;
}

.top-bar a:hover {
    color: blue;
}

.logo img{
    width: 50px;
    background-color: #FFF;
    border-radius: 2em;
}

nav {
    display: flex;
    background-color: rgb(184, 158, 125);
    padding: 5px 20px;
    align-items: center;
}

nav a {
    color: #FFF;
}

nav a:hover {
    color: blue;
}

.logo {
    flex: 1;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
}

.toggle {
    font-size: 30px;
    display: none;
}