.site-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 85, 105);
    padding: 2em;
}

.site-nav ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.site-nav li a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.site-nav li a:hover {
    text-decoration: none;
    color: rgb(61, 179, 158);
    padding: 0.5em;
    outline: 2px solid rgb(61, 179, 158);
    border-radius: 0.3em;
    background-color: rgba(61, 179, 158, 0.2);
}