@media screen and (max-width: 600px){
    nav {
        display: block;
        position: relative;
        padding: 0.93em 1.25em;
    }

    .menu {
        margin-top: 0.93em;
        display: none;
    }

    .menu.active, .toggle {
        display: block;
        padding: 0.5em;
    }

    .menu li {
        margin-bottom: 0.63em;
    }

    .menu li:last-child {
        margin-bottom: 0; /* Remove margin-bottom for the last li element */
    }

    .toggle {
        position: absolute;
        top: 0.3em;
        right: 0.7em;
    }

}