.site-section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

.last-three-wrapper {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 50em;
    height: auto;
    padding: 2em;
}

.card-info-wrapper {
    display: flex;
    flex-direction: column;
}